<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:banner="@mipmap/ic_banner_2"
        android:icon="@mipmap/ic_channel_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projekmagang">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DetailExtraActivity"
            android:exported="false" />
        <activity
            android:name=".ExtraActivity"
            android:exported="false" />
        <activity
            android:name=".DetailResultSchedule"
            android:exported="false" />
        <activity
            android:name=".ResultDaySchedule"
            android:exported="false" />
        <activity
            android:name=".DetailScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".Day"
            android:exported="false" />
        <activity
            android:name=".StartUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>